<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>
        Analytics Dashboard
    </title>

    <link
        rel="stylesheet"
        href="/static/style.css"
    >

</head>

<body>

    <nav class="navbar">

        <a href="/">Home</a>

        <a href="/predict">
            Predict
        </a>

        <a href="/analytics">
            Analytics
        </a>

        <a href="/history">
            History
        </a>

        <a href="/about">
            About
        </a>

    </nav>

    <div class="container">

        <h1>
            Analytics Dashboard
        </h1>

        <div id="summary-cards">

        </div>

        <div class="chart-container">

            <canvas id="clusterChart">

            </canvas>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="/static/analytics.js"></script>

</body>

</html>