<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>
        Prediction History
    </title>

    <link
        rel="stylesheet"
        href="/static/style.css"
    >

</head>

<body>

    <nav class="navbar">

        <a href="/">Home</a>

        <a href="/predict">
            Predict
        </a>

        <a href="/analytics">
            Analytics
        </a>

        <a href="/history">
            History
        </a>

        <a href="/about">
            About
        </a>

    </nav>

    <div class="container">

        <h1>
            Prediction History
        </h1>

        <table id="history-table">

        </table>

    </div>

    <script src="/static/history.js"></script>

</body>

</html>