<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        Hotel Guest Behavior Intelligence
    </title>

    <link
        rel="stylesheet"
        href="/static/style.css"
    >

</head>

<body>

    <div class="top-navbar">

        <h1>
            Hotel Guest Behavior Intelligence
        </h1>

    </div>

    <div class="layout-container">

        <div class="sidebar">

            <a
                href="/"
                class="active"
            >
                Home
            </a>

            <a href="/predict">
                Predict
            </a>

            <a href="/analytics">
                Analytics
            </a>

            <a href="/history">
                History
            </a>

            <a href="/about">
                About
            </a>

        </div>

        <div class="main-content">

            <div class="hero-section">

                <div class="hero-content">

                    <h1>
                        AI-Powered Hospitality Intelligence
                    </h1>

                    <p>

                        Predict guest behavior,
                        generate operational
                        insights, improve customer
                        experience, and optimize
                        hotel operations using
                        machine learning.

                    </p>

                    <a
                        href="/predict"
                        class="hero-button"
                    >
                        Start Prediction
                    </a>

                </div>

                <div class="hero-stats">

                    <div class="hero-card">

                        <h2>
                            100K+
                        </h2>

                        <p>
                            Guest Records
                        </p>

                    </div>

                    <div class="hero-card">

                        <h2>
                            4
                        </h2>

                        <p>
                            Guest Archetypes
                        </p>

                    </div>

                    <div class="hero-card">

                        <h2>
                            AI
                        </h2>

                        <p>
                            Intelligence Engine
                        </p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</body>

</html>