<!DOCTYPE html>
<html>

<head>

    <title>Login</title>

    <link
        rel="stylesheet"
        href="/static/style.css"
    >

</head>

<body class="auth-body">

    <div class="auth-layout">

        <div class="auth-left">

            <div class="auth-brand">

                <h1>
                    Hotel Guest Behavior Intelligence
                </h1>

                <p>
                    AI-powered hospitality analytics platform
                    for guest segmentation, recommendations,
                    operational insights and predictive intelligence.
                </p>

                <div class="auth-features">

                    <div>✓ Guest Behavior Prediction</div>

                    <div>✓ AI Recommendations</div>

                    <div>✓ Analytics Dashboard</div>

                    <div>✓ Prediction History</div>

                </div>

            </div>

        </div>

        <div class="auth-right">

            <div class="auth-card">

                <h1>Welcome Back</h1>

                <p class="auth-subtitle">
                    Login to continue
                </p>

                <input
                    id="email"
                    type="email"
                    placeholder="Email Address"
                >

                <input
                    id="password"
                    type="password"
                    placeholder="Password"
                >

                <button onclick="loginUser()">
                    Login
                </button>

                <p class="auth-switch">

                    Don't have an account?

                    <a href="/register-page">

                        Register

                    </a>

                </p>

            </div>

        </div>

    </div>

    <script src="/static/auth.js"></script>

</body>

</html>